!!!
%html
	%head
		%title Nagios Rest Api
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
			%body
				.page-wrapper
					.header
						%p					
							- if current_user
								Logged in as #{current_user} | 
								%a{ :href => "/logout"} Logout
							- else
								%a{ :href => "/logout"}
									Login 
								to retrieve your api-token
					%h2
						Nagios Rest API Commands
					%p
						%table{ :border => '1' }
							%tr
								%th method
								%th command
								%th description
								%th parameters (* indicates required)
							%tr
								%td GET
								%td /hosts
								%td list all hostnames
								%td -
							%tr
								%td GET
								%td /hosts/<b>hostname</b>
								%td show detailed host and service status for hostname
								%td -
							%tr
								%td GET
								%td /hosts/find<b>hostname</b>
								%td find hosts matching a simple pattern
								%td -
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/downtime
								%td set downtime
								%td service=(service name), duration=(minutes, default: 60)
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/nodowntime
								%td remove downtime
								%td service=(service name)
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/ack
								%td set acknowledgement
								%td service=(service name)
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/unack
								%td unset acknowledgement
								%td service=(service name)
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/enable
								%td enable notifications
								%td service=(service name)
							%tr
								%td PUT
								%td /hosts/<b>hostname</b>/disable
								%td disable notifications
								%td service=(service name)
						%h2
							Notes
						%ul
							%li - For PUT actions, if no 'service' parameter is supplied, action will be applied to HOST
							%li - API calls can be made using an api-token. login to retrieve your api-token.
							%li - If there is a space in the service name, you can use '+'.  Example:  service=Swap+Usage</
							
						%h2 
							Examples
						%ul
							%li 
								Get a list of all hosts in Nagios (takes ~5 seconds)
								%pre
									curl -o - -H "access_token: myapitoken" https://api.unbelievable-machine.net:9090/hosts


					</table>